<ion-header>
  <ion-toolbar>
    <ion-title>
    Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card" *ngFor="let item of items | async">
      
      <ion-img src="{{item.Cover_Img}}"></ion-img>
      <ion-card-header>
          <ion-row justify-content-center>
              <ion-col size="9">
                  <ion-card-subtitle>IEEE NSBM STUDENT BRANCH</ion-card-subtitle>
                  <ion-card-title>{{item.Event_Name}}</ion-card-title>  
              </ion-col>
              <ion-col size="3">
                  <ion-button class="btn-date"><b>{{ item.Date }} <br>{{item.Event_Month}}</b></ion-button> 
              </ion-col>
          </ion-row>
      </ion-card-header>
      <ion-row >
          <ion-col size="12">
              <ion-card-content>
                  <p>{{item.Event_Desc}}</p>
                  <ion-button (click)="btnclick()" class="view-button" fill="outline" slot="end" ><b>{{item.Rsvp}}</b></ion-button> 
                </ion-card-content>
          </ion-col>
      </ion-row>
     
    </ion-card>


      
    
</ion-content>
