<ion-header>
  <ion-toolbar>
    <ion-title>
    Events
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      
      <ion-img src="https://i.imgur.com/lvENiVh.jpg"></ion-img>
      <ion-card-header>
          <ion-row justify-content-center>
              <ion-col size="9">
                  <ion-card-subtitle>IEEE NSBM STUDENT BRANCH</ion-card-subtitle>
                  <ion-card-title>Ionic Framework</ion-card-title>  
              </ion-col>
              <ion-col size="3">
                  <ion-button class="btn-date"><b>27 <br> Feb</b></ion-button> 
              </ion-col>
          </ion-row>
      </ion-card-header>
      <ion-row >
          <ion-col size="12">
              <ion-card-content>
                  <p>Ionic Framework is the free, open source mobile UI toolkit for developing high-quality cross-platform apps for native iOS, Android, and the web—all from a single codebase</p>
                  <ion-button (click)="btnclick()" class="view-button" fill="outline" slot="end" ><b>RSVP Now!</b></ion-button> 
                </ion-card-content>
          </ion-col>
      </ion-row>
     
    </ion-card>
    
</ion-content>
